.contract-types {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contract-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* 枠を追加 */
    border-radius: 4px; /* 角を丸くする */
    background-color: #f9f9f9; /* 背景色を追加 */
  }
  
  .contract-type input[type="radio"] {
    margin-left: auto;
    margin-right: auto;
    order: 1;
  }
  
  .contract-type label {
    flex-grow: 1;
    text-align: left;
    order: 2;
  }
  
  .contract-name {
    font-weight: bold;
  }
  
  .contract-description {
    color: #666;
    margin-left: 20px;
  }
  
  .add-condition-button {
    margin-bottom: 10px; /* 「条件を追加」と「送信」の間にスペースを追加 */
  }
  
  .submit-button {
    margin-top: 10px; /* 「条件を追加」ボタンと送信ボタンを区別するためのスペースを追加 */
  }